$color-contrast: #707070;
$color-key: #fff;
$color-accent: #12cec7;

$theme-colors: (
  'accent': $color-accent,
  'contrast': $color-contrast,
  'key': $color-key,
  'secondary': darken($color-key, 5%),
);

@function color($_key) {
  @return map-get($theme-colors, $_key);
}
