.log-pill {
  $_parent: &;

  align-items: center;
  background-color: color('secondary');
  border-radius: radius('primary');
  display: flex;
  justify-content: space-between;
  min-height: size('pill');
  padding: 0 spacing('m');
  width: 100%;

  &__message-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
  }

  &__player-mark {
    height: font-size('m');
    margin-right: spacing('s');
    width: font-size('m');
  }

  &__message {
    color: color('contrast');
    font-size: font-size('s');
  }

  &.-accent {
    background-color: color('accent');

    #{$_parent}__message {
      color: color('key');
    }
  }
}
