.log-pill {
  align-items: center;
  background-color: color('secondary');
  border-radius: radius('primary');
  display: flex;
  height: size('pill');
  padding: spacing('s') spacing('m');
  width: 100%;
}
