%perspective {
  transform: rotateX(45deg);
  transform-style: preserve-3d;
}

.board-grid {
  $_grid-size: 60vmin;
  $_grid-item-size: calc(100% / 3);

  height: $_grid-size;
  perspective: 450px;
  position: relative;
  width: $_grid-size;
  z-index: z-index('base');

  &__blocks-container {
    @extend %perspective;

    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  &__block {
    flex-basis: $_grid-item-size;
    height: $_grid-item-size;
  }

  &__lines {
    @extend %perspective;

    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: z-index('background');
  }

  &__line {
    background-color: color('dark');
    position: absolute;

    &.-horizontal {
      height: 1px;
      top: calc(100% / 3);
      width: 100%;

      &:nth-of-type(2) {
        top: calc(100% / 3 * 2);
      }
    }

    &.-vertical {
      height: 100%;
      left: calc(100% / 3);
      width: 1px;

      &:nth-of-type(2) {
        left: calc(100% / 3 * 2);
      }
    }
  }
}
