.main-layout {
  background-color: color('background');
  display: flex;
  min-height: 100vh;
  width: 100vw;

  &__body {
    margin: 0 auto;
    max-width: 800px;
    padding: spacing('s');
    width: 100%;
  }
}
