.main-layout {
  align-items: center;
  background-color: color('key');
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;

  &__confirm-dialog {
    position: fixed;
    z-index: z-index('modal');
  }

  &__score-bar {
    position: fixed;
    top: spacing('l');
  }

  &__body {
    display: block;
  }

  &__log-board {
    bottom: 0;
    position: fixed;
  }
}
